           
                /* Fonts  */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.noto-sans {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* Shared styles */

.display-flex{
    display: flex;
    align-items: center;
}
.primary-color{
    color: #e85907;
}
.secondary-color{
    color: #00000080;
}


.margin{
    max-width: 1230px;
    margin: 0 auto;
}

/* body style */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f8ff;
}


      /*  nav bar style */

nav{
    justify-content: space-between;
}

nav ul{
    justify-content: space-between;
    gap: 45px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
}


/* Banner style */

.banner-section{
   margin: 120px 0;
}
.banner-title-container{
    margin-top: 75px;
}
.banner-title{
    font-size: 3.75rem;
     font-family: "Noto Sans", sans-serif;
     font-weight: 700;
     margin: 0;
}
.banner-description{
    font-size: 1.375rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    margin: 0;
}
.banner-section img{
    width: 100%;
}

/* our plants section style */

.section-header{
    font-family: "Noto Sans", sans-serif;
    font-size: 3.125rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
}
.section-description{
    font-size: 1.25rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0 120px;
}
.flower-cart-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px 20px;
    margin: 50px 0;
}
.flower-cart{
    text-align: center;
}
.flower-cart img{
    width: 100%;
}
.flower-name{
    font-family: "Inter", sans-serif;
    font-size: 1.375rem;
    font-weight: 500;
}
.flower-price{
    font-family: "Inter", sans-serif;
    font-size: 1.375rem;
    font-weight: 700;
    margin: 0;
}
.btn{
    width: 100%;
    padding: 26px 50px;
    font-size: 1rem;
    background-color: #e85907;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    border: none;
    margin-top: 30px;
    cursor: pointer;
}

/* plants-lover section style */
.plants-lover-section{
    margin-top: 210px;
    margin-bottom: 0;
    
   
    
}
.plants-lover-container{
    justify-content: center;
    gap: 60px;
    
}
.plants-lover-container img{
    width: 100%;
    height: 100%;
   
}
.plants-lover-description{
    margin: 38px 0;
}
.plant-lover-title{
    font-family: "Noto Sans", sans-serif;
    font-size: 3.125rem;
    font-weight: 700;
    margin: 0;
}
.unorderd-list li{
    font-size: 1.375rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    margin: 20px 0;
}
.badge{

     top: 2072px;
    left: 360px;
   position: absolute;
   
    
    
}
.spin{
    
    
    height: 286px;
    width: 286px;
    animation: spin 10s 1s infinite linear;
    
}


/* Deals section style */

.deals-title{
    margin: 120px 0;
}

.deals-model-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 28px;
    
}
.model-1{
    height: 423px;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    gap: 20px;
    
   
}
.df{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.item-1{
    height: 200px;
    background: url('assets/deal-bloom.png') , #00000066;
    background-blend-mode: multiply; 
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;

}
.item-2{
     height: 200px;
    background: url('assets/deal-ana.png') , #00000066;
    background-blend-mode: multiply; 
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.model-2{
    height: 423px;
   grid-column: 4/2;
    background: url('assets/deal-zabo.png'), #00000066;
    background-blend-mode: multiply; 
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.bloom, .ana{
    font-size: 1.25rem;
    color: white;
}
.zabo{
    font-size: 2.5rem;
    color: white;
}
.zabo-btn{
    font-size: 1.25rem;
}
.btn-deals{
    background: transparent;
    border: none;
    color: white;
    text-decoration: underline;
    text-underline-offset: 2px;
    cursor: pointer;
   
}


@keyframes spin {

   from{
      transform: rotate(0);
   }
   to{
      transform: rotate(360deg);
   }
}



/* responsive styles for mobile device */

@media screen and (max-width : 576px) {
    .menu{
        display: none;
    }
    nav{
        margin: 0 16px;
        
    }
    ul{
            font-weight: 400;
    }

    .banner-section{
        flex-direction: column-reverse;
        margin: 28px 0;
        
    }
    .banner-title-container{
        margin: 28px 16px;
    }
    .banner-title{
        font-size: 1.5rem;
       
    }
    .banner-description{
         font-size: 0.8rem;
         
    }
    .section-description{
        margin: 0 28px;
    }
    .flower-cart-container{
        grid-template-columns: repeat(2,1fr);
        padding: 0 16px;
    }
    .btn{
        font-size: 0.8rem;
    }
    .plants-lover-section{
         margin: 42px 16px;
    
    }
    .plants-lover-container{
        flex-direction: column;
        gap: 20px;
       
    }
    .plant-lover-title{
        font-size: 1.375rem;
    }
    .unorderd-list li{
        font-size: 0.8rem;
    }
    .badge{
        display: none;
    }
    .deals-model-container{
        grid-template-columns: repeat(1,1fr);
        margin: 0 16px;
    }
    .model-2{
        grid-column: 1;
        height: 200px;
    }
    .zabo{
        font-size: 1.25rem;
        color: white;
    }
    .zabo-btn{
        background: transparent;
        border: none;
        color: white;
        text-decoration: underline;
        text-underline-offset: 2px;
        cursor: pointer;
    }

}

